html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  height: 100dvh;

  &,
  a,
  button,
  input,
  select,
  textarea {
    color: $text-color;
  }

  ul,
  ol {
    padding-left: 2rem;
  }

  ul {
    list-style-type: " ✖ ";
  }
}

main {
  background: $background;
  margin: 0 auto;
  max-width: $max-width;

  header {
    background-image: url("/images/here-we-go-again.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;
    gap: 3rem;

    img {
      margin: $padding;
      max-width: $max-text-width;
      width: 50%;
    }
    h2.race-goes-live {
      justify-content: space-around;
      color: $white;
      padding: 0.25rem;
      width: 100%;
      line-height: 1;
      gap: 0px;
      margin: 0;
      @include blackout-midnight;
      // white-space: nowrap;

      span {
        display: block;
        font-size: clamp(14px, 7.9vw, 5.9rem);
      }

      span:nth-child(odd) {
        @include blackout-sunrise;
      }
    }
  }

  h1 {
    padding: 5vh 7rem;
    padding-left: clamp(14px, 5.9vw, 5.9rem);
    @include blackout-midnight;
    color: $callout;
    line-height: 0.8;
    background-image: url("/images/here-we-go-again.png");
    background-size: cover;
    background-position: center center;
    margin: 0;
    font-size: clamp(9rem, 20vw, 19rem);
  }

  .sticky {
    position: sticky;
    top: 0;

    nav {
      position: absolute;
    }
  }

  .about {
    background: $black;
    color: $white;
    padding: 0.5rem;
    display: flex;
    width: 100%;
    justify-content: space-around;

    p {
      font-size: clamp(14px, 3.5vw, 3.75rem);
      @include blackout-midnight;
      white-space: nowrap;
      margin: 0;
      text-align: end;

      a {
        text-decoration: none;
      }
    }
  }

  nav {
    padding: 1rem;
    width: $side-bar-width;
    background: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 100dvh;

    p {
      margin: 0;
    }

    img {
      width: 100%;
    }
  }

  .section-wrapper {
    background: $background;
    margin-left: $side-bar-width;
  }

  section {
    @include for-phone-only {
      display: block;
    }

    margin: 0 auto;
    padding: $padding;
    border-top: none;

    h2 {
      @include blackout-midnight;
      margin: 1.75rem 0 0 0;
      font-size: clamp(40px, 7vw, 80px);
      line-height: 0.8;
      padding: 8rem 1rem;
      background-size: cover;
      background-position: center center;
      &#what {
        background-image: url("/images/headers/what.jpg");
      }
      &#free-entry{
        background-image: url("/images/headers/free-entry.jpg");
      }
      &#all-are-welcome{
        background-image: url("/images/here-we-go-again.png");
      }
      &#anonymous{
        background-image: url("/images/headers/anonymous.jpg");
      }
      &#not-sponsored{
        background-image: url("/images/headers/not-sponsored.jpg");
      }
      &#shout-out{
        background-image: url("/images/headers/shout-out.jpg");
      background-position: center 25%;
      }
    }

    p,
    ul,
    ol {
      margin-top: 1rem;
    }

    .results-wrapper {
      max-width: $max-text-width;
      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        h3 {
          font-size: 2.5rem;
          margin: 0;
          line-height: 1;
          @include blackout-midnight;
          white-space: nowrap;
          margin: 0;
        }
        p {
          @include blackout-sunrise;
          margin: 0;
          font-size: 2.5rem;
        }
      }
      table {
        border-collapse: collapse;
        width: 100%;
        tr {
          &.toggle1 {
            // display:none;
          }
          &:nth-child(even) {
            background: hsl(0 0 99 / 0.1);
          }
          @include Hover {
            background: hsl(0 100 99 / 0.2);
          }
        }
        th {
          &:nth-child(3) {
            // white-space: nowrap;
            // line-height: 0;
          }
        }
        th,
        td {
          &:nth-child(1) {
            text-align: right;
            white-space: nowrap;
            font-weight: 700;
          }
          &:nth-child(2) {
            span {
              float: right;
              display: inline-block;
              // background: blue;
              // width: 2ch;
              text-align: right;
              margin: 0 0.5rem 0 0;
              font-weight: 700;
              color: #fff8;
            }
          }
          &:nth-child(3) {
            text-align: right;
          }
          text-align: left;
          border-width: 0 0 1px 0;
          border-style: solid;
          border-color: #fff8;
          padding: 0.5rem; // 1.5rem;
          vertical-align: top;
        }
      }
    }

    #map {
      width: 100%;
      height: 40rem;
    }

    img {
      max-width: $max-text-width;
      width: 100%;
    }

    ol.how-to {
      li {
        img {
          display: block;
          margin: 2rem auto;
        }
      }
    }

    ul.faq {
      li {
        list-style: none;

        summary {
          color: $text-color;
          margin: $margin 0;
          padding: 0;
          text-decoration: underline;
          cursor: pointer;

          @include Hover {
            text-decoration: none;
            color: $callout;
          }
        }

        details p,
        details ul {
          padding-left: $padding;

          li {
            list-style-type: disc;
            margin-left: $padding;
          }
        }
      }
    }
  }
}
p[name] {
  position: relative;
  @include Hover {
    &::after {
      content: attr(name);
      position: absolute;
      background: $black;
      color: $white;
      padding: 0.5rem;
      left: $side-bar-width;
      top: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
