html {
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
  background: $white;
  &,
  a,
  button,
  input,
  select,
  textarea {
    color: $text-color;
  }

  ul,
  ol {
    padding-left: 2rem;
  }

  ul {
    list-style-type: " ✖ ";
  }
}

main {
  color: $black;
  // background: $white;
  max-width: $max-width;
  margin: 0 auto;

  header {
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 7rem 0;
    margin: 0 0 20px 0;

    img {
      margin: $padding;
      width: clamp(2rem, 68vw, 25rem);
    }
    h1 {
      padding: 0.25rem;
      color: $callout;
      text-shadow: $text-shadow;
      width: 100%;
      line-height: 1;
      margin: 1rem 0 0 0;
      font-size: clamp(14px, 12vw, 5.9rem);
      letter-spacing: 1px;
      @include blackout-midnight;
    }
    p.about {
      font-size: x-small;
      display: inline-block;
      @include slub;
    }
  }

  .sticky {
    position: sticky;
    top: 0;

    nav {
      position: absolute;
    }
  }

  nav {
    padding: 1rem;
    width: $side-bar-width;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100dvh;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: $black;
    hr {
      width: 100%;
    }
    img,
    svg {
      width: 100%;
    }
    a {
      svg {
        fill: $black;
      }
    }
    p {
      margin: 0;
    }
  }

  .section-wrapper {
    margin-left: $side-bar-width;
  }

  section {
    .header-wrapper {
      background-size: cover;
      background-position: center center;
      // mix-blend-mode: luminosity;
      &#what {
        background-image: url("/images/headers/what.jpg");
      }
      &#free-entry {
        background-image: url("/images/headers/free-entry.jpg");
      }
      &#all-are-welcome {
        background-image: url("/images/headers/all-are-welcome.jpg");
      }
      &#anonymous {
        background-image: url("/images/headers/anonymous.jpg");
      }
      &#not-sponsored {
        background-image: url("/images/headers/not-sponsored.jpg");
      }
      &#results {
        background-image: url("/images/headers/results.jpg");
      }
      &#shout-out {
        background-image: url("/images/headers/shout-out.jpg");
        background-position: center 25%;
      }
      h2 {
        @include blackout-midnight;
        margin: 0;
        font-size: clamp(40px, 14vw, 80px);
        line-height: 0.9;
        padding: 4rem 2rem;
        text-shadow: $text-shadow;
        letter-spacing: 1px;
        color: $callout;
      }
    }

    p,
    ul,
    ol {
      margin-top: 1rem;
    }
    p.body-text {
      padding: 4rem 1rem 8rem 2rem;
      max-width: 52ch;
    }

    .results-wrapper {
      max-width: $max-text-width;
      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
    }
    .results-header {
      position: sticky;
      top: 0;
      margin: 0.5rem 0;
      padding: 1rem;
      border-bottom: solid 1px $black;
      background: $background;
      h3 {
        font-size: 2.5rem;
        margin: 0.25rem;
        line-height: 1.2;
        @include blackout-midnight;
        white-space: nowrap;
      }
      .date {
        margin: 0;
      }
      .finish-location {
        @include slub;
        font-size: 1.2rem;
        margin: 0;
      }
    }
    table {
      border-collapse: collapse;
      width: 100%;
      tr {
        &:nth-child(even) {
          background: $table-row-even;
        }
        @include Hover {
          background: $table-row-hover;
        }
      }
      th,
      td {
        &:nth-child(1) {
          text-align: right;
          white-space: nowrap;
          font-weight: 700;
        }
        &:nth-child(2) {
          span {
            float: right;
            display: inline-block;
            text-align: right;
            margin: 0 0.5rem 0 0;
            font-weight: 700;
            color: $half-white;
          }
        }
        &:nth-child(3) {
          text-align: right;
        }
        &.time {
          font-family: monospace;
        }
        text-align: left;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $half-white;
        padding: 0.5rem;
        vertical-align: top;
      }
    }

    img {
      max-width: $max-text-width;
      width: 100%;
    }

    ol.how-to {
      li {
        img {
          display: block;
          margin: 2rem auto;
        }
      }
    }

    ul.faq {
      li {
        list-style: none;

        summary {
          color: $text-color;
          margin: $margin 0;
          padding: 0;
          text-decoration: underline;
          cursor: pointer;

          @include Hover {
            text-decoration: none;
            color: $callout;
          }
        }

        details p,
        details ul {
          padding-left: $padding;

          li {
            list-style-type: disc;
            margin-left: $padding;
          }
        }
      }
    }
  }
}
p[name] {
  position: relative;
  z-index: 99;
  @include Hover {
    &::after {
      content: attr(name);
      position: absolute;
      background: $black;
      color: $white;
      padding: 0.5rem;
      left: $side-bar-width;
      top: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
