@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*::selection {
  background-color: #75a983;
  color: #e7e6e6;
}

html {
  scroll-behavior: smooth;
}

p {
  max-width: 550px;
}

@media (hover: hover) {
  a:hover {
    color: #75a983;
    text-decoration: none;
  }
}

.body-text a, .body-text li a {
  text-decoration: none;
  color: #262322;
  position: relative;
  display: inline-block;
}
.body-text a::before, .body-text li a::before {
  content: "";
  background-color: #75a983;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  height: 8px;
  z-index: -1;
  transition: all 0.1s ease-in-out;
}
.body-text a:hover::before {
  bottom: 0;
  height: 100%;
}

@font-face {
  font-family: "blackout_midnight";
  src: url("../fonts/blackout_midnight-webfont.woff2") format("woff2"), url("blackout_midnight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "blackout_2am";
  src: url("../fonts/blackout_two_am-webfont.woff2") format("woff2"), url("blackout_sunrise-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "blackout_sunrise";
  src: url("../fonts/blackout_sunrise-webfont.woff2") format("woff2"), url("blackout_sunrise-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Catamaran", sans-serif;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 1.5;
  font-variant-ligatures: common-ligatures;
  color: #262322;
}
body strong {
  font-weight: 800;
}

h1, h2, h3, h4 {
  color: #262322;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
  background: #e7e6e6;
}
body,
body a,
body button,
body input,
body select,
body textarea {
  color: #262322;
}
body ul {
  list-style-type: " ✖ ";
}

main {
  color: #262322;
  max-width: 550px;
  margin: 0 auto;
}
main header {
  text-align: center;
  padding: 7rem 0;
  margin: 0 0 20px 0;
}
main header img {
  margin: calc(1rem + 8px);
  width: clamp(2rem, 68vw, 25rem);
}
main header h1 {
  padding: 0.25rem;
  color: #75a983;
  text-shadow: -2px -2px 0 #aec8b5, 2px 2px 0 #4e6653;
  width: 100%;
  line-height: 1;
  margin: 1rem 0 0 0;
  font-size: clamp(14px, 12vw, 5.9rem);
  letter-spacing: 1px;
  font-family: "blackout_midnight", "Impact", Arial;
}
main header p.about {
  font-size: x-small;
  display: inline-block;
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main .sticky {
  position: sticky;
  top: 0;
}
main nav.side-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: solid 1px #262322;
  align-items: center;
  gap: 4rem;
  width: 5rem;
}
main nav.side-nav p {
  margin: 0;
}
main nav.side-nav img {
  width: calc(5rem - 5px);
}
main nav.side-nav svg {
  width: 90%;
}
main nav.side-nav p.results-link {
  font-family: "blackout_midnight", "Impact", Arial;
  transform: rotate(-90deg);
  margin: 2rem 0 4rem 0;
}
main nav.side-nav p.results-link a {
  text-decoration: none;
  font-size: 4rem;
}
@media (hover: hover) {
  main nav.side-nav p.results-link a:hover {
    color: #75a983;
  }
}
main .section-wrapper {
  margin-left: 5rem;
}
main section .header-wrapper {
  background-size: cover;
  background-position: center center;
}
main section .header-wrapper#what {
  background-image: url("/images/headers/what.jpg");
}
main section .header-wrapper#free-entry {
  background-image: url("/images/headers/free-entry.jpg");
}
main section .header-wrapper#all-are-welcome {
  background-image: url("/images/headers/all-are-welcome.jpg");
}
main section .header-wrapper#anonymous {
  background-image: url("/images/headers/anonymous.jpg");
}
main section .header-wrapper#not-sponsored {
  background-image: url("/images/headers/not-sponsored.jpg");
}
main section .header-wrapper#results {
  background-image: url("/images/headers/results.jpg");
}
main section .header-wrapper#shout-out {
  background-image: url("/images/headers/shout-out.jpg");
  background-position: center 25%;
}
main section .header-wrapper h2 {
  font-family: "blackout_midnight", "Impact", Arial;
  margin: 0;
  font-size: clamp(40px, 14vw, 80px);
  line-height: 0.9;
  padding: 6rem 2rem;
  text-shadow: -2px -2px 0 #aec8b5, 2px 2px 0 #4e6653;
  letter-spacing: 1px;
  color: #75a983;
}
main section p,
main section ul,
main section ol {
  margin-top: 1rem;
}
main section p.body-text {
  padding: 1rem 2rem;
  max-width: 52ch;
  text-align: justify;
}
main section .results-wrapper {
  max-width: 78ch;
}
main section .results-wrapper div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
main section .scroll-to-results {
  display: flex;
  justify-content: space-around;
  font-size: 3.3rem;
  font-family: "blackout_2am", "Impact", Arial;
}
main section .scroll-to-results a {
  text-decoration: none;
  color: #75a983;
}
main section .results-header {
  position: sticky;
  top: 0;
  margin: 0.5rem 0;
  padding: 1rem;
  border-bottom: solid 1px #262322;
  background: #e7e6e6;
}
main section .results-header h3 {
  font-size: 2.5rem;
  margin: 0.25rem;
  line-height: 1.2;
  font-family: "blackout_midnight", "Impact", Arial;
  white-space: nowrap;
}
main section .results-header .date {
  margin: 0;
}
main section .results-header .finish-location {
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0;
}
main section table {
  border-collapse: collapse;
  width: 100%;
}
main section table tr:nth-child(even) {
  background: #eeeded;
}
@media (hover: hover) {
  main section table tr:hover {
    background: #dedede;
  }
}
main section table th,
main section table td {
  text-align: left;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  vertical-align: top;
}
main section table th:nth-child(1),
main section table td:nth-child(1) {
  text-align: right;
  white-space: nowrap;
  font-weight: 700;
}
main section table th:nth-child(2) span,
main section table td:nth-child(2) span {
  float: right;
  display: inline-block;
  text-align: right;
  margin: 0 0.5rem 0 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
}
main section table th:nth-child(3),
main section table td:nth-child(3) {
  text-align: right;
}
main section table th.time,
main section table td.time {
  font-family: monospace;
}
main section img {
  max-width: 78ch;
  width: 100%;
}
main section ol.how-to li img {
  display: block;
  margin: 2rem auto;
}
main section ul.faq li {
  list-style: none;
}
main section ul.faq li summary {
  color: #262322;
  margin: 1rem 0;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}
@media (hover: hover) {
  main section ul.faq li summary:hover {
    text-decoration: none;
    color: #75a983;
  }
}
main section ul.faq li details p,
main section ul.faq li details ul {
  padding-left: calc(1rem + 8px);
}
main section ul.faq li details p li,
main section ul.faq li details ul li {
  list-style-type: disc;
  margin-left: calc(1rem + 8px);
}

p[name] {
  position: relative;
  z-index: 99;
}
@media (hover: hover) {
  p[name]:hover::after {
    content: attr(name);
    position: absolute;
    background: #262322;
    color: #e7e6e6;
    padding: 0.5rem;
    left: 5rem;
    top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

/*# sourceMappingURL=styles.css.map */
