@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*::selection {
  background-color: #75a983;
  color: #f9f8f7;
}

*:focus {
  outline: solid 2px #f9f8f7;
}

html {
  scroll-behavior: smooth;
}

p {
  max-width: 1080px;
}

a {
  color: #262222;
}
@media (hover: hover) {
  a:hover {
    color: #75a983;
  }
}

@font-face {
  font-family: "blackout_midnight";
  src: url("../fonts/blackout_midnight-webfont.woff2") format("woff2"), url("blackout_midnight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "blackout_2am";
  src: url("../fonts/blackout_two_am-webfont.woff2") format("woff2"), url("blackout_sunrise-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "blackout_sunrise";
  src: url("../fonts/blackout_sunrise-webfont.woff2") format("woff2"), url("blackout_sunrise-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Catamaran", sans-serif;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 1.5;
  font-variant-ligatures: common-ligatures;
  color: #262222;
}

h1, h2, h3, h4 {
  color: #262222;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
  background: #f9f8f7;
}
body,
body a,
body button,
body input,
body select,
body textarea {
  color: #262222;
}
body ul,
body ol {
  padding-left: 2rem;
}
body ul {
  list-style-type: " ✖ ";
}

main {
  color: #262222;
  max-width: 1080px;
}
main header {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 7rem 0;
  margin: 0 0 20px 0;
}
main header img {
  margin: calc(1rem + 8px);
  max-height: 20rem;
  width: clamp(2rem, 28vw, 25rem);
}
main header h2.race-goes-live {
  padding: 0.25rem;
  width: 100%;
  line-height: 1;
  margin: 1rem 0 0 0;
  font-weight: 100;
  font-family: "blackout_midnight", "Impact", Arial;
}
main header h2.race-goes-live span {
  display: block;
  font-size: clamp(14px, 7.9vw, 5.9rem);
}
main header h2.race-goes-live span:nth-child(odd) {
  font-family: "blackout_sunrise", "Impact", Arial;
}
main header p.about {
  font-size: small;
  margin: 0;
}
main h1 {
  padding: 5vh 7rem;
  padding-left: clamp(14px, 5.9vw, 5.9rem);
  font-family: "blackout_midnight", "Impact", Arial;
  line-height: 0.8;
  background-image: url("/images/here-we-go-again.png");
  background-size: cover;
  background-position: center center;
  margin: 0;
  font-size: clamp(9rem, 20vw, 19rem);
}
main .sticky {
  position: sticky;
  top: 0;
}
main .sticky nav {
  position: absolute;
}
main nav {
  padding: 1rem;
  width: 5rem;
  color: #262222;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100dvh;
}
main nav p {
  margin: 0;
}
main nav img {
  width: 100%;
}
main .section-wrapper {
  margin-left: 5rem;
}
main section .header-wrapper {
  background-size: cover;
  background-position: center center;
}
main section .header-wrapper#what {
  background-image: url("/images/headers/what.jpg");
}
main section .header-wrapper#free-entry {
  background-image: url("/images/headers/free-entry.jpg");
}
main section .header-wrapper#all-are-welcome {
  background-image: url("/images/headers/all-are-welcome.jpg");
}
main section .header-wrapper#anonymous {
  background-image: url("/images/headers/anonymous.jpg");
}
main section .header-wrapper#not-sponsored {
  background-image: url("/images/headers/not-sponsored.jpg");
}
main section .header-wrapper#results {
  background-image: url("/images/headers/not-sponsored.jpg");
}
main section .header-wrapper#shout-out {
  background-image: url("/images/headers/shout-out.jpg");
  background-position: center 25%;
}
main section .header-wrapper h2 {
  font-family: "blackout_midnight", "Impact", Arial;
  margin: 0;
  font-size: clamp(40px, 7vw, 80px);
  line-height: 0.8;
  padding: 4rem 2rem;
  position: relative;
  text-shadow: 2px 2px 0 #f9f8f7;
  color: #75a983;
}
main section p,
main section ul,
main section ol {
  margin-top: 1rem;
}
main section p.body-text {
  padding: 8rem 1rem 12rem 1rem;
  max-width: 52ch;
  margin: 0 auto;
}
main section .results-wrapper {
  max-width: 78ch;
}
main section .results-wrapper div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
main section .results-header {
  position: sticky;
  top: 1rem;
  margin: 0.5rem 0;
  background: #f9f8f7;
}
main section .results-header h3 {
  font-size: 2.5rem;
  margin: 0.25rem;
  line-height: 1.2;
  font-family: "blackout_midnight", "Impact", Arial;
  white-space: nowrap;
}
main section .results-header .date {
  font-family: "blackout_sunrise", "Impact", Arial;
  margin: 0;
  font-size: 2.5rem;
}
main section .results-header .finish-location {
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.2rem;
}
main section table {
  border-collapse: collapse;
  width: 100%;
}
main section table tr:nth-child(even) {
  background: rgba(252, 252, 252, 0.1);
}
@media (hover: hover) {
  main section table tr:hover {
    background: rgba(255, 250, 250, 0.2);
  }
}
main section table th,
main section table td {
  text-align: left;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  vertical-align: top;
}
main section table th:nth-child(1),
main section table td:nth-child(1) {
  text-align: right;
  white-space: nowrap;
  font-weight: 700;
}
main section table th:nth-child(2) span,
main section table td:nth-child(2) span {
  float: right;
  display: inline-block;
  text-align: right;
  margin: 0 0.5rem 0 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}
main section table th:nth-child(3),
main section table td:nth-child(3) {
  text-align: right;
}
main section table th.time,
main section table td.time {
  font-family: monospace;
}
main section img {
  max-width: 78ch;
  width: 100%;
}
main section ol.how-to li img {
  display: block;
  margin: 2rem auto;
}
main section ul.faq li {
  list-style: none;
}
main section ul.faq li summary {
  color: #262222;
  margin: 1rem 0;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}
@media (hover: hover) {
  main section ul.faq li summary:hover {
    text-decoration: none;
    color: #75a983;
  }
}
main section ul.faq li details p,
main section ul.faq li details ul {
  padding-left: calc(1rem + 8px);
}
main section ul.faq li details p li,
main section ul.faq li details ul li {
  list-style-type: disc;
  margin-left: calc(1rem + 8px);
}

p[name] {
  position: relative;
}
@media (hover: hover) {
  p[name]:hover::after {
    z-index: 99;
    content: attr(name);
    position: absolute;
    background: #262222;
    color: #f9f8f7;
    padding: 0.5rem;
    left: 5rem;
    top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

/*# sourceMappingURL=styles.css.map */
