@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*::selection {
  background-color: #212121;
  color: #f9f8f7;
}

*:focus {
  outline: solid 2px #f9f8f7;
}

html {
  scroll-behavior: smooth;
}

p {
  max-width: 1080px;
}

a {
  color: #f9f8f7;
}
@media (hover: hover) {
  a:hover {
    color: #212121;
  }
}

@font-face {
  font-family: "blackout_midnight";
  src: url("../../fonts/blackout_midnight-webfont.woff2") format("woff2"), url("blackout_midnight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "blackout_2am";
  src: url("../../fonts/blackout_two_am-webfont.woff2") format("woff2"), url("blackout_sunrise-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "blackout_sunrise";
  src: url("../../fonts/blackout_sunrise-webfont.woff2") format("woff2"), url("blackout_sunrise-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Catamaran", sans-serif;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 1.5;
  font-variant-ligatures: common-ligatures;
  color: #f9f8f7;
}

h1, h2, h3, h4 {
  color: #f9f8f7;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  height: 100dvh;
}
body,
body a,
body button,
body input,
body select,
body textarea {
  color: #f9f8f7;
}
body ul,
body ol {
  padding-left: 2rem;
}
body ul {
  list-style-type: " ✖ ";
}

main {
  background: radial-gradient(#262222, #382e2e);
  margin: 0 auto;
  max-width: 1080px;
}
main header {
  background-image: url("/images/here-we-go-again.png");
  background-size: cover;
  background-position: center center;
  text-align: center;
}
main header img {
  margin: calc(1rem + 8px);
  max-width: 78ch;
  width: 90vw;
}
main h1 {
  padding: 5vh 7rem;
  padding-left: clamp(14px, 5.9vw, 5.9rem);
  font-family: "blackout_midnight", "Impact", Arial;
  color: #212121;
  line-height: 0.8;
  background-image: url("/images/here-we-go-again.png");
  background-size: cover;
  background-position: center center;
  margin: 0;
  font-size: clamp(9rem, 20vw, 19rem);
}
main .sticky {
  position: sticky;
  top: 0;
}
main .sticky nav {
  position: absolute;
}
main h2.race-goes-live {
  display: flex;
  justify-content: space-around;
  color: #f9f8f7;
  background: #212121;
  padding: 0.25rem;
  width: 100%;
  line-height: 1;
  gap: 0px;
  margin: 0;
  font-family: "blackout_midnight", "Impact", Arial;
  white-space: nowrap;
}
main h2.race-goes-live span {
  display: block;
  font-size: clamp(14px, 7.9vw, 5.9rem);
}
main h2.race-goes-live span:nth-child(odd) {
  font-family: "blackout_sunrise", "Impact", Arial;
}
main .about {
  background: #262222;
  color: #f9f8f7;
  padding: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
main .about p {
  font-size: clamp(14px, 3.5vw, 3.75rem);
  font-family: "blackout_midnight", "Impact", Arial;
  white-space: nowrap;
  margin: 0;
  text-align: end;
}
main .about p a {
  text-decoration: none;
}
main nav {
  padding: 1rem;
  width: 5rem;
  background: #262222;
  color: #f9f8f7;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100dvh;
}
main nav p {
  margin: 0;
}
main nav img {
  width: 100%;
}
main .section-wrapper {
  background: radial-gradient(#262222, #382e2e);
  margin-left: 5rem;
}
main section {
  margin: 0 auto;
  padding: calc(1rem + 8px);
  border-top: none;
}
@media (max-width: 599px) {
  main section {
    display: block;
  }
}
main section h2 {
  font-family: "blackout_midnight", "Impact", Arial;
  margin-top: 1.75rem;
  font-size: clamp(40px, 7vw, 80px);
  line-height: 0.8;
}
main section p,
main section ul,
main section ol {
  margin-top: 1rem;
}
main section .results-wrapper a {
  display: flex;
  align-items: center;
  text-decoration: none;
  max-width: 450px;
  margin: 3rem 1rem;
}
main section .results-wrapper img {
  width: 100%;
  max-width: 100px;
  height: 100px;
  margin: 0 3rem;
}
main section .results-wrapper div p,
main section .results-wrapper div h3 {
  font-family: "blackout_midnight", "Impact", Arial;
  white-space: nowrap;
  margin: 0;
}
main section #map {
  width: 100%;
  height: 40rem;
}
main section img {
  max-width: 78ch;
  width: 100%;
}
main section ol.how-to li img {
  display: block;
  margin: 2rem auto;
}
main section ul.faq li {
  list-style: none;
}
main section ul.faq li summary {
  color: #f9f8f7;
  margin: 1rem 0;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}
@media (hover: hover) {
  main section ul.faq li summary:hover {
    text-decoration: none;
    color: #212121;
  }
}
main section ul.faq li details p,
main section ul.faq li details ul {
  padding-left: calc(1rem + 8px);
}
main section ul.faq li details p li,
main section ul.faq li details ul li {
  list-style-type: disc;
  margin-left: calc(1rem + 8px);
}

p[name] {
  position: relative;
}
@media (hover: hover) {
  p[name]:hover::after {
    content: attr(name);
    position: absolute;
    background: #262222;
    color: #f9f8f7;
    padding: 0.5rem;
    left: 5rem;
    top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

/*# sourceMappingURL=styles.css.map */
