@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@font-face {
  font-family: "blackout_midnight";
  src: url("../../fonts/blackout_midnight-webfont.woff2") format("woff2"), url("blackout_midnight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "blackout_2am";
  src: url("../../fonts/blackout_two_am-webfont.woff2") format("woff2"), url("blackout_sunrise-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "blackout_sunrise";
  src: url("../../fonts/blackout_sunrise-webfont.woff2") format("woff2"), url("blackout_sunrise-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*::selection {
  background-color: #5C1309;
  color: #f9f8f7;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.5;
  font-variant-ligatures: common-ligatures;
}

p {
  max-width: 100%;
}

a {
  color: #5C1309;
}
@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}

.resultsWrapper {
  overflow: scroll;
  background: #f9f8f7;
  z-index: 999;
  position: fixed;
}
.resultsWrapper table.results {
  width: 100%;
  max-width: 600px;
  min-width: 320px;
  table-layout: fixed;
}
.resultsWrapper table.results tr th {
  position: sticky;
  top: 0;
  background: #f9f8f7;
  z-index: 1000;
}
.resultsWrapper table.results tr td.you {
  background: #3a3b3c;
  color: #f9f8f7;
}
.resultsWrapper table.results tr td.you small {
  display: block;
  font-size: 1.2rem;
  margin: 0;
  text-transform: uppercase;
}
.resultsWrapper table.results tr td.done {
  background: #3a3b3c;
  color: #f9f8f7;
  text-align: center;
}
.resultsWrapper table.results tr td.done.first {
  background-color: gold;
  color: #3a3b3c;
}
.resultsWrapper table.results tr td.done.second {
  background-color: silver;
}
.resultsWrapper table.results tr td.done.third {
  background-color: #cd7f32;
}
.resultsWrapper table.results tr td.done.dfl {
  background-color: #5C1309;
}
.resultsWrapper table.results tr th {
  text-align: center;
  padding: 0.5em;
  background-color: #fff;
}
.resultsWrapper table.results tr td {
  height: 50px;
  width: 66px;
  background-color: #fff;
}
.resultsWrapper table.results tr td:first-child {
  text-align: center;
  font-size: 1.5em;
  font-weight: 900;
}

body {
  background: #f9f8f7 url(../../images/bg-texture.png);
}
body, body button, body input, body select, body textarea {
  color: #3a3b3c;
}
body ul, body ol {
  padding-left: 1rem;
}

header {
  height: 99vh;
  width: 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../images/map-bg.png");
  background-size: cover;
}
header h1 {
  display: grid;
  place-items: center;
  margin: 0;
  height: calc(100% - 10rem);
}
header h1 img {
  width: 90vw;
  min-width: 300px;
  max-width: 960px;
  max-height: 80vh;
}
header .race-is-live {
  background: #5C1309;
  color: #f9f8f7;
  margin: 40vh 0 0 0;
  position: absolute;
  width: 100%;
  text-align: center;
}
header .race-is-live h1 {
  font-family: "blackout_midnight", "Impact", Arial;
}
header .race-is-live a {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f9f8f7;
}

div.about {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #5C1309;
  text-transform: uppercase;
}
div.about p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  margin: 0rem;
  font-family: "blackout_midnight", "Impact", Arial;
  font-size: clamp(12px, 2.5vw, 3rem);
  color: #f9f8f7;
  text-align: center;
  padding: 0.25rem 1rem;
}
div.about p span {
  display: inline-block;
  white-space: nowrap;
}
div.about p a {
  color: #f9f8f7;
  padding-bottom: 1px;
}
@media (hover: hover) {
  div.about p a:hover {
    text-decoration: none;
  }
}
div.about p a i {
  padding: 0 3px;
}

main {
  margin: 0 auto;
}
main section {
  min-width: 300px;
  width: 90%;
  max-width: 960px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  padding: 3rem 1rem;
  border-bottom: solid 1rem #3a3b3c;
}
main section:last-child {
  border: none;
}
main section h2 {
  font-family: "blackout_midnight", "Impact", Arial;
  margin-top: 1.75rem;
  word-spacing: 9999px;
  font-size: clamp(40px, 7vw, 80px);
  line-height: 0.8;
}
main section p, main section ul, main section ol {
  margin-top: 1rem;
}
main section span.clue {
  width: 80%;
  font-style: italic;
  margin: 1rem auto;
  font-variant: italic;
  display: block;
}
main section #map {
  width: 100%;
  height: 40rem;
}
main section img.spoke-cards, main section img.test-code, main section img.race-app {
  width: 100%;
}
main section ol.how-to li {
  margin: 3rem auto;
}
main section ol.how-to li img {
  display: block;
  margin: 2rem auto;
}
main section ul.faq li {
  list-style: none;
}
main section ul.faq li summary {
  color: #5C1309;
  margin: 1rem 0;
  text-decoration: underline;
  cursor: pointer;
}
@media (hover: hover) {
  main section ul.faq li summary:hover {
    text-decoration: none;
  }
}
main section ul.faq li details p, main section ul.faq li details ul {
  padding: 1rem;
  padding-left: 3rem;
}

footer {
  display: none;
  background: #3a3b3c;
  color: #f9f8f7;
  padding: 3rem;
  margin-top: 1rem;
}
footer .footerContentWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 300px;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
footer .footerContentWrapper div {
  padding: 2rem;
}
footer .footerContentWrapper div a {
  color: #f9f8f7;
}
footer .footerContentWrapper div:not(:last-child) {
  border-color: #f9f8f7;
  border-style: solid;
  border-width: 0 1px 0 0;
}

@media (max-width: 599px) {
  aside {
    grid-template-columns: repeat(5, 1fr);
  }

  main section {
    display: block;
  }

  footer .footerContentWrapper {
    display: block;
  }
  footer .footerContentWrapper div:not(:last-child) {
    border-width: 0 0 1px 0;
  }
}

/*# sourceMappingURL=styles.css.map */
