nav 
	p.title-hover(name="Alleycat")
		a(href='/')
			img.floating-logo(src="/images/logos/main-logo.svg" alt="Steel City Alleycat Logo")
	p.title-hover(name="results")
		a(href='/results.html')
			img.floating-logo(src="/images/logos/main-logo.svg" alt="Steel City Alleycat Logo")
	p.title-hover(name="facebook")
		a(href='https://www.facebook.com/profile.php?id=61559370606249' target='_blank')
			img.floating-logo(src="/images/icons/facebook.svg" alt="Facebook Logo")
	p.title-hover(name="instagram")
		a(href='https://www.instagram.com/steelcityalleycat/' target='_blank')
			img.floating-logo(src="/images/icons/instagram.svg" alt="Instagram Logo")
	p.title-hover(name="playlists")
		a(href='https://open.spotify.com/playlist/0aiR9bTi1BA7OSvQM1QzZj?si=60d8e84ea72e492d' target='_blank')
			img.floating-logo(src="/images/icons/playlist.svg" alt="Spotify Logo")