body {
    background: $white url(../../images/bg-texture.png);

    &, button, input, select, textarea {
        color: $black;
    }

    ul, ol {
        padding-left: 1rem;
    }
}

header {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;

    // background-attachment: fixed;
    background-image: url("../../images/map-bg.png");
    background-size: cover;

    h1 {
        display: grid;
        place-items: center;
        margin: 0;
        height: calc(100% - 10rem);

        img {
            width: 90vw;
            min-width: 300px;
            max-width: 960px;
        }
    }
}

.aboutWrapper {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: $callout;

    div.about {
        @include width;

        font-size: 0;
        margin: 0 auto;

        p {
            @include wordup;

            margin: 0;

            span {
                display: inline-block;
                white-space: nowrap;
            }

            font-family: "blackout_2am";
            font-size: clamp(18px, 3vw, 3rem); //1.4rem;
            color: $white;
            text-align: center;
            padding: ($padding / 4) $padding;

            a {
                color: $white;
                border-bottom: solid 1px $white;
                padding-bottom: 1px;

                @include Hover {
                    border-bottom: solid 0px;
                }


                img {
                    background: transparent;
                    display: inline;
                    height: clamp(19px, 3vw, 3rem); //1.4rem;
                    margin-bottom: -0.3rem;
                }
            }
        }
    }
}

main {
    margin: 0 auto;

    section {
        @include width;

        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 0 auto;
        padding: 3rem 1rem;
        border-bottom: solid 1rem $black;

        &:last-child {
            border: none;
        }

        h2 {
            @include Title-font;

            margin-top: 1.75rem;
            word-spacing: 9999px;
            font-size: clamp(40px, 7vw, 80px);
            line-height: 0.8;
        }

        p, ul, ol {
            margin-top: 1rem;
        }

        span.clue {
            width: 80%;
            font-style: italic;
            margin: 1rem auto;
            font-variant: italic;
            display: block;
        }

        #map {
            width: 100%;
            height: 40rem;
        }

        ol.how-to {
            li {
                margin: 3rem auto;

                img {
                    display: block;
                    margin: 2rem auto;
                }

                img.test-code {
                    height: 100px;
                }

                img.race-app {}
            }
        }

        ul.faq {
            li {
                list-style: none;

                summary {
                    color: $callout;
                    margin: $margin 0;
                    text-decoration: underline;
                    cursor: pointer;

                    @include Hover {
                        text-decoration: none;
                    }
                }

                details p, details ul {
                    padding: $padding;
                    padding-left: $padding * 3;
                }
            }
        }
    }
}

footer {
    display: none;
    background: $black;
    color: $white;
    padding: $padding * 3;
    margin-top: $margin;

    .footerContentWrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        div {
            padding: $padding * 2;

            a {
                color: $white;
            }

            &:not(:last-child) {
                border-color: $white;
                border-style: solid;
                border-width: 0 1px 0 0;
            }
        }

        @include width;

        margin: 0 auto;
    }
}

@include for-phone-only {
    aside {
        grid-template-columns: repeat(5, 1fr);
    }

    main {
        section {
            display: block;
        }
    }

    footer {
        .footerContentWrapper {
            display: block;

            div {
                &:not(:last-child) {
                    border-width: 0 0 1px  0;
                }
            }
        }
    }
}


@include for-tablet-portrait-up {}


@include for-tablet-landscape-up {}


@mixin questionbg($color) {
    border-color: $color;
}
