body {
  color: $text-color;
  // background: $black;
  // background: linear-gradient(-45deg, #efefef, $white);
  background-image: url("../../images/bg-map-toner-20.png");
  background-attachment: fixed;
  background-size:cover;
  // background-position: 0 0;
  background-repeat: no-repeat;
  height: 100dvh;

  &,
  a,
  button,
  input,
  select,
  textarea {
    color: inherit;
  }

  ul,
  ol {
    padding-left: 2rem;
  }
}
iframe{
  width: 100%;
  max-width: $max-text-width;
  height: 45rem;
}
main {
  position: relative;
  // margin: 0 auto;
  // background: $white;
  max-width: 1440px;
  img.logo {
    width: calc(100% - 1rem);
    height: calc( 85dvh - #{$header-height * 2});
    // max-height: 400px;
    display: block;

    @include for-phone-only {
    }
  }
  .sticky{
    position: sticky;
    top: 0;
    footer{
      position: absolute;
    }
  }
  h2.race-goes-live {
    display: flex;
    justify-content: space-around;
    color: white;
    background: $red;
    padding: 1rem;
    // height: $header-height;
    width: 100%;
    line-height: 1;
    gap: 5px;
    // justify-content: center;
    margin: 0;
    @include blackout-midnight;
    white-space: nowrap;
    span {
      display: block;
      font-size: clamp(14px, 5.9vw, 5.9rem);
    }
    span:nth-child(1) {
      // font-size: clamp(14px, 13vw, 12.5rem);
      @include blackout-sunrise;
    }
    span:nth-child(2) {
      // font-size: clamp(14px, 5.9vw, 5.9rem);
    }
    span:nth-child(3) {
      @include blackout-sunrise;
      // font-size: clamp(14px, 5vw, 5rem);
    }
  }
  .about {
    background: $black;
    color: $white;
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;

    p {
      font-size: clamp(14px, 4vw, 5rem);
      @include blackout-midnight;
      // font-size: 2.2rem;
      white-space: nowrap;
      margin: 0;
      text-align: end;
      // border-bottom: solid 1px rgba($white,0.5);
      a {
        text-decoration: none;
      }
    }
  }
  .section-wrapper{
    background: rgba($white,0.9);
    margin-left: $side-bar-width;
  }
  section {
    @include for-phone-only {
      display: block;
    }

    margin: 0 auto;
    padding: $padding;
    border-top: none;
    // display: flex;

    h2 {
      @include blackout-midnight;
      margin-top: 1.75rem;
      // word-spacing: 9999px;
      font-size: clamp(40px, 7vw, 80px);
      line-height: 0.8;
    }

    p,
    ul,
    ol {
      margin-top: 1rem;
      // text-align: justify;
    }

    span.clue {
      width: 80%;
      font-style: italic;
      margin: 1rem auto;
      font-variant: italic;
      display: block;
    }

    #map {
      width: 100%;
      height: 40rem;
    }

    // img.spoke-cards,
    // img.test-code,
    // img.race-app {
    img{
      max-width: $max-text-width;
      width: 100%;
    }

    ol.how-to {
      li {
        margin: 3rem auto;

        img {
          display: block;
          margin: 2rem auto;
        }
      }
    }

    ul.faq {
      li {
        list-style: none;

        summary {
          color: $text-color;
          margin: $margin 0;
          text-decoration: underline;
          cursor: pointer;

          @include Hover {
            text-decoration: none;
          }
        }

        details p,
        details ul {
          padding: $padding;
          padding-left: calc(#{$padding} * 3);
        }
      }
    }
  }
  footer {
    padding: 1rem;
    width: $side-bar-width;
    background: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100dvh;
  }
}
