.resultsWrapper {
    overflow: scroll;
    background: $white;
    z-index: 999;
    position: fixed;
    height: 100vh;

    table.results {
        width: 100%;
        max-width: 600px;
        min-width: 320px;
        table-layout: fixed;

        tr th {
            position: sticky;
            top: 0;
            background: $white;
            z-index: 1000;
        }

        tr {
            td.you {
                // border-bottom: solid 3px #000;
                small {
                    display: block;
                    font-size: 1.2rem;
                    margin: 0;
                    text-transform: uppercase;
                }

                background: $black;
                color: $white;
            }

            td.done {
                // background: $black;
                // color: $white;
                text-align: center;

                &.first {
                    background-color: gold;
                    color: $black;
                }

                &.second {
                    background-color: silver;
                }

                &.third {
                    background-color: #cd7f32;
                }

                &.dfl {
                    background-color: $callout;
                }
            }
        }

        tr th {
            text-align: center;
            padding: 0.5em;
            background-color: #fff;
        }

        tr td {
            &:first-child {
                text-align: center;
                font-size: 1.5em;
                font-weight: 900;
            }

            height: 50px;
            width: 66px;
            background-color: #fff;
        }
    }
}
