$callout: #5C1309;
$black: #3a3b3c;
$white: #f9f8f7;
$first: gold;
$second: silver;
$third: #cd7f32;
$shadow: $white;
$base-size: 2rem;

$primary-color: $black;
$square: 50px;
$main-color: $black;
$max-width: 100%;
$min-width: 3.5rem;
$padding: 1rem;
$smallSpacing: 0.5rem;
$margin: 1rem;
$blackout: "blackout_midnight", "Impact", Arial;
$twoam: "blackout_2am", "Impact", Arial;

@font-face {
    font-family: 'blackout_midnight';
    src: url("../../fonts/blackout_midnight-webfont.woff2") format("woff2"), url("blackout_midnight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blackout_2am';
    src: url("../../fonts/blackout_two_am-webfont.woff2") format("woff2"), url("blackout_sunrise-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blackout_sunrise';
    src: url("../../fonts/blackout_sunrise-webfont.woff2") format("woff2"), url("blackout_sunrise-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@mixin Title-font {
    font-family: $blackout;
}

@mixin Hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}

@mixin width {
    min-width: 300px;
    width: 90%;
    max-width: 960px;
}

@mixin wordup {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

@mixin uppercase {
    text-transform: uppercase;
    letter-spacing: 2px;
}

:root {
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

*::selection {
    background-color: $callout;
    color: $white;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: itc-avant-garde-gothic-pro,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: $base-size;
    line-height: 1.5;
    font-variant-ligatures: common-ligatures;
}

p {
    max-width: $max-width;
}

a {
    color: $callout;

    @include Hover {
        text-decoration: none;
    }
}

@function BoxShadowColor($color) {
    @return 5px 5px 0 mix($color, black, 90%), 4px 4px 0 mix($color, black, 90%), 3px 3px 0 mix($color, black, 90%), 2px 2px 0 mix($color, black, 90%), 1px 1px 0 mix($color, black, 100%);
}

%slub {
    font-size: smaller;
    text-transform: uppercase;
    color: grey;
    font-weight: 900;
}

%Button {
    transition: 0.1s;
    outline: none;
    border-style: solid;
    border-width: 0 2px 2px 0;
    padding: $padding;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: block;
    margin: 2rem 0;

    &:active {
        box-shadow: none;
    }
}

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}
