$callout: hsl(90, 90%, 20%);
$black: #262222;
$white: #f9f8f7;
$red: $callout;
$yellow: #F5DD00;
$blue: #000098;
$green: #009800;
$finish: $black;
$text-color: $black;
$border-width: 8px;
$padding: calc(1rem + #{$border-width});
$first: gold;
$second: silver;
$third: #cd7f32;
$shadow: $white;
$base-size: 1.9rem;
$body-font: 'Catamaran', sans-serif;
$primary-color: $black;
$iconSize: 2.5rem;
$header-height: 5rem;
$main-color: $black;
$max-width: 100%;
$min-width: 3.5rem;
$smallSpacing: 0.5rem;
$side-bar-width: 5rem;
$margin: 1rem;
$spray-shadow: none;//0 0 10px white;
$font-size: 2rem;

@mixin bounce($delay) {
  animation-duration: 6s;
  animation-name: bounce;
  animation-iteration-count: 10;
  animation-delay: $delay;

  @keyframes bounce {
    0% {
      transform: translatey(0);
    }

    5% {
      transform: translatey(-7px);
    }

    10% {
      transform: translatey(0);
    }

    100% {
      transform: translatey(0);
    }
  }
}

@mixin Hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin width {
  min-width: 300px;
  width: 99vw;
  max-width: 960px;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*::selection {
  background-color: $callout;
  color: $white;
}
*:focus{
  outline: solid 2px $white;
}

html {
  scroll-behavior: smooth;
}

p {
  max-width: $max-width;
}

a {
  color: $text-color;

  @include Hover {
    text-decoration: none;
  }
}

@function BoxShadowColor($color) {
  @return 5px 5px 0 mix($color, black, 90%),
  4px 4px 0 mix($color, black, 90%),
  3px 3px 0 mix($color, black, 90%),
  2px 2px 0 mix($color, black, 90%),
  1px 1px 0 mix($color, black, 100%);
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}