include templates/_header.pug
	.section-wrapper
		.sections
			section
				.header-wrapper#what
					h2 Alleycat?
				p.body-text.
					An alleycat is an unsanctioned bike race with multiple
					checkpoints and no set route. It's like a scavenger hunt for
					locations in Hamilton. It's history starts in Toronto in the
					'80s and has since expanded world-wide. Originally it was a way
					for bike messengers to see who the fastest was. The race models
					the job of a bike messenger: In a city, no set route, several
					locations. The Steel City Alleycat is a small part of a much
					bigger history of urban cycling. There's
					<a href="https://www.youtube.com/watch?v=fgTKIBFpVdE" target="_blank">a documentary on YouTube called First Cats</a>
					that talks about it's chaotic origins.
			section
				.header-wrapper#free-entry
					h2 Free Entry
				p.body-text This will always be a free ride. I'm never going to ask you for your money.
			section
				.header-wrapper#all-are-welcome
					h2 All are welcome
				p.body-text.
						Traditionally, alleycat bike races are done on fixed gear
						bikes&mdash;since this was a prefered bike of messengers, but
						I'm not going to police what you ride. In the past we've had
						e-bikes, multiple tandem bikes, kid-trailers, recumbent bikes,
						SoBis, dogs, big teams, elite level bikes, and
						dumpster-ready-shit-boxes. Riders from under one year old to
						over 70 years old.
			section
				.header-wrapper#anonymous
					h2 Anonymous
				p.body-text.
						I don't care who you are. I'll never ask for your email address,
						phone number, or real name. Just show up and ride.
			section
				.header-wrapper#not-sponsored
					h2 Not Sponsored
				p.body-text Just who up and be rad. You'll get a t-shirt and probably some pins Previous years people have won raddest rider with  
					ul
						li shittiest bike 
						li Biggest Breakfast 
						li Most hungover  
						li On a date 
			section
				.header-wrapper#shout-out
					h2 Shout out
				p.body-text.
					My name is AL. You can contact me at
					<a href="mailto:AL@steelcityalleycat.com" >AL@steelcitycalleycat.com</a>
					or on the
					<a href="https://instagram.com/steelcityalleycat" target="_blank" >'gram</a >. I don't check facebook.