include templates/_header.pug
  .section-wrapper 
    .sections 
      section 
        .header-wrapper#results
          h2 Results
        p.body-text Blash bla blah
        .result-wrapper 
          #table-wrapper