include _header.pug
  .section-wraper 
    .sections 
      section 
        h2 Results
        .result-wrapper 
          .results-header 
            h3 Steel City Alleycat 
            p September 12, 2021
          #table-wrapper-1
          button(onclick="toggleRows('toggle1')") Show more results




//- <h3>Steel City Alleycat II</h3>
//- <p>May 15, 2022</p>
//- 
//- <h3>Steel City Alleycat 3</h3>
//- <p>October 16, 2022</p>
//- 
//- <h3>Steel City Alleycat 4</h3>
//- <p>September 8, 2024</p>