include templates/_header.pug
  .section-wrapper 
    .sections 
      section 
        .header-wrapper#results
          h2 Results
        p.body-text Technical issues may have resulted in your finish time not being recorded for the first 3 races. <br /> Finish time is time-of-day. Races start at noon. 
        .result-wrapper 
          #table-wrapper