include ../templates/_header.pug
  .section-wrapper 
    .sections 
      section 
        .header-wrapper#results
          h2 Results
        p.body-text Technical issues may have resulted in your finish time not being recorded for the first 3 races. <br /> Finish time is time-of-day. Races start at noon. 
        ul
          li
            a(href='#SCA1') Steel City Alleycat 
          li
            a(href='#SCA2') Steel City Alleycat II 
          li
            a(href='#SCA3') Steel City Alleycat 3
          li
            a(href='#SCA4') Steel City Alleycat 4
        .result-wrapper 
          #table-wrapper