      <div class="section-wrapper">
        <div class="sections">
          <section>
            <h2 id="results">Results</h2>
            <div class="results-wrapper">
              <div class="results-header">
                <h3>Steel City Alleycat</h3>
                <p>September 12, 2021</p>
              </div>
              <div id="table-wrapper-1"></div>
              <button onclick="toggleRows('toggle1')">Show 78 results</button>
            </div>
            <div class="results-wrapper">
              <div class="results-header">
                <h3>Steel City Alleycat II</h3>
                <p>May 15, 2022</p>
              </div>
              <div id="table-wrapper-2"></div>
              <button onclick="toggleRows('toggle2')">Show 78 results</button>
            </div>
            <div class="results-wrapper">
              <div class="results-header">
                <h3>Steel City Alleycat 3</h3>
                <p>October 16, 2022</p>
              </div>
              <div id="table-wrapper-3"></div>
              <button onclick="toggleRows('toggle3')">Show 34 results</button>
            </div>
            <div class="results-wrapper">
              <div class="results-header">
                <h3>Steel City Alleycat 4</h3>
                <p>September 8, 2024</p>
              </div>
              <div id="table-wrapper-4"></div>
              <button onclick="toggleRows('toggle4')">Show 78 results</button>
            </div>
          </section>
        </div>
      </div>